@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to CJ's Corner Store!";
}

<div class="container mt-5 text-center">
    <div class="jumbotron bg-light py-5 shadow-lg">
        <h1 class="display-3">Welcome to CJ's Corner Store!</h1>
        <p class="lead">Where quality meets affordability. Discover everything you need, all in one place!</p>
        <hr class="my-4">
        <p>Browse through our diverse collection of products and enjoy a seamless shopping experience.</p>
        <a class="btn btn-success btn-lg mt-3" href="/Products" role="button">Shop Now</a>
        <a class="btn btn-outline-secondary btn-lg mt-3" href="/Contact" role="button">Contact Us</a>
    </div>

    <div class="row mt-5">


        @foreach (var category in Model.Categories)
        {
            @if (category.Products.Any())
            {
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="@(string.IsNullOrEmpty(category.ImageUrl) ? "/images/noimage.png" : $"/images/{category.ImageUrl}")" class="card-img-top" alt="Electronics">
                        <div class="card-body">
                            <h5 class="card-title">@category.Name</h5>
                            <p class="card-text">@(string.IsNullOrEmpty(category.Summary) ? "No descriptions available check out the products" : $"{category.Summary[0..150]}...")</p>
                            <a asp-page="/Products/SearchResult" class="btn btn-primary" asp-route-categoryId="@category.CategoryId">
                                Explore @category.Name
                            </a>
                        </div>
                    </div>
                </div>
            }
            
        }
    </div>

    <div class="mt-5">
        <p class="text-muted">© 2024 CJ's Corner Store | All Rights Reserved</p>
    </div>
</div>
